{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{{ creator.username }}{% endblock %}

{% block content_title %}{{ creator.username }}{% endblock %}

{% block content %}

    <h2>{% trans "filter" %}</h2>
    {% include "datatable/filters.html" with target_table=filters.target_table filter_global=filters.filter_global %}

    <h2>{{ usergroup.groupname }}</h2>
    <div>{% trans "user count" %}: {{ usergroup.useringroup_set.count }}</div>
    {% if usergroup.useringroup_set %}
        <table id="{{ table.id }}" class="{{ datatable_table_class }}">
            <thead> 
                <tr>
                    <th>{% trans "username" %}</th>
                    <th>{% trans "date added" %}</th>
                </tr>
            </thead> 
            <tbody> 
            {% for useringroup in usersingroup %}
                <tr>
                    <td>{% include "accounts/user_link.html" with username=useringroup.user.username %}</td>
                    <td>{{ useringroup.date_added }}</td>
                </tr>
            {% endfor %}
            </tbody> 
        </table>
    {% else %}
        <p>{% trans "this group has no users" %}</p>
    {% endif %}
    <h2>{% trans "edit" %}</h2>
    <form action="{% url 'user_user_groups_copy' creator.username %}" method="post">{% csrf_token %}
        <input type="hidden" name="groupnames" value="{{ usergroup.groupname }}">
        {% trans "copy group" %} <input type="submit" value="{% trans "copy group" %}" />
    </form>
    {% include "user_user_groups/delete_usergroup_link.html" with username=creator.username groupname=usergroup.groupname %}
    {% include "user_user_groups/update_usergroup_link.html" with username=creator.username groupname=usergroup.groupname %}
{% endblock %}
