{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{{ creator.username }}{% endblock %}

{% block content_title %}{{ creator.username }}{% endblock %}

{% block content %}
    <h2>{% trans "groups" %}</h2>
    {% if items %}
    <table>
        <thead> 
            <tr>
                <th>{% trans "name" %}</th>
                <th>{% trans "user count" %}</th>
                <th>{% trans "creation date" %}</th>
            </tr>
        </thead> 
        <tbody> 
        {% for item in items %}
            <tr>
                <th><a href="{% url 'user_user_groups_detail' creator.username item.groupname %}">{{ item.groupname }}</a></th>
                <th>{{ item.group.count }}</th>
                <th>{{ item.creation_date }}</th>
            </tr>
        {% endfor %}
        <tbody> 
    </table> 
    {% include "pagination.html" %}
    {% else %}
        <p>{% trans "user has no groups" %}</p>
    {% endif %}
    <h2>{% trans "actions" %}</h2>
    {% include "user_user_groups/create_new_group_link.html" with username=creator.username %}
{% endblock %}
