{% load i18n %}

<table>
    <thead>
        <tr>
            <th>{% trans "target" %}</th>
            <th>{% trans "find" %}</th>
            <th>{% trans "regex" %}</th>
            <th>{% trans "smart filter" %}</th>
        </tr>
    </thead>
    <tbody>
        {% if filter_global %}
        <tr>
            <td>{% trans "global" %}</td>
            <td><input type="text"     {{ datatable_filter_target_table_attr }}="{{ target_table }}" class="{{ datatable_filter_find_class }}" ></td>
            <td><input type="checkbox" {{ datatable_filter_target_table_attr }}="{{ target_table }}" class="{{ datatable_filter_regex_class }}" ></td>
            <td><input type="checkbox" {{ datatable_filter_target_table_attr }}="{{ target_table }}" class="{{ datatable_filter_smart_class }}" ></td>
        </tr>
        {% endif %}
        {% for target_col in target_cols %}
        <tr>
            <td>{% trans "global" %}</td>
            <td><input type="text"     {{ datatable_filter_col_table_attr }}="{{ target_col }}" class="{{ datatable_filter_col_find_class }}"  ></td>
            <td><input type="checkbox" {{ datatable_filter_col_table_attr }}="{{ target_col }}" class="{{ datatable_filter_col_regex_class }}" ></td>
            <td><input type="checkbox" {{ datatable_filter_col_table_attr }}="{{ target_col }}" class="{{ datatable_filter_col_smart_class }}" ></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
